@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Intro section */

#intro-page .intro-page-container{
    height: 100vh;
    width: 100%;
    background-color: #F5F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#intro-page .intro-page-container h1{
    font-size: 3.5rem;
    letter-spacing: .3rem;
    font-weight: bolder;
}

#intro-page .intro-page-container p{
    font-weight: lighter;
    font-size: 1.2rem;
    margin-top: -20px;
}

.intro-page-button {
    width: 200px;
    height: 50px;
    background-color: #4D5B9E;
    text-decoration: none;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .3s ease;
    transition-property: background-color , box-shadow;
    text-transform: capitalize;
    color: #F5F7FB;
    transition: .3s ease color;
} 


.intro-page-button:hover{
    background-color: #424e88;
    box-shadow: 0 0 5px gray;
}

.intro-page-button:hover p{
    color: white;
}

.upper-right,
.bottom-left{
    height: 300px;
    width: 300px;
    position: relative;
    z-index: 0;
}

.upper-right{
    height: 300px;
    width: 300px;
    background-color: #FFFAD1;
    top: -5%;
    right: -40%;
    border-radius: 44% 56% 18% 82% / 36% 46% 54% 64%;
}

.bottom-left{
    background-color: #DEEBF8;
    bottom: -10%;
    right: 50%;
    border-radius: 54% 46% 42% 58% / 41% 43% 57% 59% ;
}

/* End of Intro section */

/* Second Page section */

#second-page .second-page-container{
    max-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color:#F5F7FB;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button{
    background-color: transparent;
    border: 2px solid #4D5B9E;
    height: 45px;
    min-width: 120px;
    color: #293264;
    text-align: center;
    border-radius: 8px;
    margin-right: 2rem; 
    padding: 7px;   
    font-weight: bold;
    cursor: pointer;
    word-wrap: break-word;
    transition: .3s ease background-color;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button.clicked{
    background-color: #D6DBF5;
    border: hidden;
    height: 40px;
    min-width: 120px;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button.true{
    background-color: #94D7A2;
    border: hidden;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button.true:hover{
    background-color: #94D7A2;
    border: hidden;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button.false{
    background-color: #F8BCBC;
    border: hidden;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button.false:hover{
    background-color: #F8BCBC;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button.clicked:hover{
    background-color: #D6DBF5;
}

#second-page .second-page-container .quiz-container .quiz-suggestions .suggestion-button:hover{
    background-color: white;
}


#second-page .second-page-container .questions-wrapper{
    margin-bottom: 10px;
}

#second-page .intro-page-button{
    margin-top: 40px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    border: none;
}

#second-page .second-page-container .quiz-container .quiz-suggestions{
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#second-page .second-page-container .questions-wrapper{
    width: 80%;
    height: 70vh;
}

#second-page .second-page-container .quiz-container h1{
    font-size: 1.2rem;
}

#second-page .second-page-container .buttons-wrapper{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* End of Second Page section */